<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.title</title>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <link href="~/assets/css/bootstrap_journal.min.css" rel="stylesheet" />
    <link href="~/assets/css/myStyle.css" rel="stylesheet" />
    <script src="~/libs/validate/jquery_validator/jquery.validate.js"></script>
    <script src="~/assets/js/jquery.backstretch.min.js"></script>


</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
