<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.title - ETIXNG</title>
    <link rel="icon" href="~/assets/img/p_logo_2.png" />

    @*jq*@
    <script src="~/assets/js/jquery-3.4.1.min.js"></script>

    @*bs materia*@
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    @*style.css*@
    <link href="~/assets/css/style.css?v=@DateTime.Now.Second" rel="stylesheet" />


    @*vue*@
    <script src="~/libs/vue/vue.min.js"></script>
    <script src="~/libs/vue/axios.min.js"></script>

    @*selectize*@
    <link href="~/libs/selectize/autocomplete.min.css" rel="stylesheet" />
    <script src="~/libs/selectize/autocomplete.min.js"></script>

    @*font*@
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">

    @*toater*@
    <script src="~/libs/toastr/toastr.min.js"></script>
    <link href="~/libs/toastr/toastr.min.css" rel="stylesheet" />

    @*modenizer*@
    <script src="~/assets/js/modernizr-custom.js"></script>

    <script>
        toastr.options.positionClass = 'toast-top-center';
    </script>

</head>
<body>
    <div>
        @RenderBody()
    </div>

    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <center>
                    <table>
                        <tr>
                            <td>
                                <center>
                                    <h6>Download Client App</h6>
                                    <a href="/Downloads/client.apk">
                                        <img src="~/assets/img/play_store.png" height="57" width="157" />
                                    </a>
                                </center>
                            </td>

                            <td>
                                <center>
                                    <h6>Download Artisan App</h6>
                                    <a  href="/Downloads/artisan.apk">
                                        <img src="~/assets/img/play_store.png" height="57" width="157" />
                                    </a>
                                </center>
                            </td>
                        </tr>
                    </table>
                </center>
            </div>
        </div>
    </div>


    <div class="footer">
        <br />
        <center>
            <img src="~/assets/img/p_logo_2.png" height="25" width="25" style="border-radius:100px" />
            <b><i>Etixng</i></b>
            <img src="~/assets/img/twitter_logo.png" height="25" width="25" style="border-radius:100px" />
            <img src="~/assets/img/fb_logo.png" height="25" width="25" style="border-radius:100px" />
            © 2019 Etixng
        </center>
        <br />
        <div>
            <center>
                <img src="~/assets/img/city_skyline.png" />
            </center>
        </div>
    </div>

</body>
</html>
